body{
    font-family: 'Montserrat', sans-serif;
}
/*utility classes*/
.img-responsive{
    max-width:40%;
}
.hero-image{
    background:url(./img/cook6.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    background-size:cover;
    height:100vh;
    position:relative;
}
.hero-image ul{
    display: flex;
}
.hero-image ul li{
    list-style: none;
    font-size: 1.3rem;
}
.hero-image ul a{
    color:white;
    display: block;
    padding:3px 22px;
    border-radius:20px;
    text-decoration: none;
    margin-top: 2.5rem;
}
.hero-image ul a:hover{
    color:black;
    background-color: rgb(53, 240, 15);

}
.hero-wrapper{
    color:white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)

}
.hero-wrapper h1{
    font-size:2.8rem;
    text-align:center;
}
.hero-wrapper p{
    color:white;
}

.hero-wrapper span{
    margin-left:5rem;
    display:inline-block;
    margin-bottom: 0.5rem;
}
.form_code{
    text-align: center;
}
.form_code .post_code{
    display:block;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    border-radius:2rem;
    padding:0.6rem;
    border:none;
    outline:none;
}
.form_code button{
    width:40%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1rem;
    text-align:center;
    background:rgb(191, 80, 255);
    color:white;
    padding:0.7rem;
    border:none;
    border-radius:0.3rem;
    
}
/*product section*/
h2{
    font-size: 35px;
    font-weight: 600;
}

p{
    color: rgb(107, 83, 83);
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.product{
    width:90%;
    margin:auto;
    text-align: center;
}
.row{
    margin-top: 2%;
    display: flex;
    justify-content:space-between;
}
.product-list{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.product-list img{
    width:100%;
    border-radius: 10px;
    transition: 0.5s;

}
.product-list img:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.9);
        
}

.product-list:first-of-type{
    margin-left: 0rem;
}
@media screen and (max-width:700) {
    product list item{
        width:100%;
        float:none;
    }
}
